---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
---
<!DOCTYPE html>
<html lang="en-US">
<Header />
  <body>
    <section id="about">
        <div class="container">
            <div class="row" id="about_intro">
                <div class="col-sm-12 col-md-12 col-lg-12" style="text-align:left;">
                    
                    <h2>Privacy Policy</h2>
                    <br /><br />
                    <p>Somogyi Consulting LLC (or “we” or “our” or “us”) owns or controls, and provides access to the Steady Calendar mobile app and website, currently located at www.steadycalendar.com (the “Website” or “app”).</p>
                    <p>At Steady Calendar, we are fully committed to respecting your privacy and to protecting any information you provide to us. We treat both privacy and security as a priority and make every effort to ensure that all the information provided by you is protected. This Privacy Policy (the “Policy”) is designed to respect and protect the privacy of all visitors to the Website and is intended to inform you about the way that we treat your personal data.</p>
                    <p>The Policy explains how Steady Calendar collects and uses information. We hope that our candor will remove any concerns you may have and will make using Steady Calendar a rewarding experience.</p>
                    <p>Although we aim to keep you up-to-date on all changes made to the Website, this Policy may be amended from time to time without notice to you. It is your responsibility to read the Policy carefully and review any changes that may have been made.</p>
                    <br /><br />
                    <h3>1. Account Information</h3>
                    <p>In order to use certain features of the Steady Calendar, you will need to register using either Facebook or your email address. For purposes of this Policy, the terms “personal information” shall mean all information provided during your initial registration on Steady Calendar and during your creation of an account.</p>
                    <p>When you register with Facebook, Steady Calendar collects your Facebook ID and, if you chose to opt-in and provide permission, the email address associated with your Facebook account.</p>
                    <br /><br />
                    <h3>2. Record Collection</h3>
                    <p>When you use Steady Calendar, our servers may collect any information you supply. This is accomplished by monitoring your activity on the mobile application and website. When you create calendars and mark calendar dates, you should be aware that Steady Calendar is entitled to use this information in accordance with our Terms of Use. </p>
                    <p>Steady Calendar does not process any personal information related to your record collection and/or profile in any manner other than as described in this Policy. </p>
                    <br /><br />
                    <h3>3. Use of Personal Information</h3>
                    <p>We will use the email address provided by you when you register and optionally opt-in to provide your email through Facebook or via email signup. We may use your email to contact you from time to time. We will use your email address to provide you with updates about products and services, or for security purposes. </p>
                    <br /><br />
                    <h3>4. Cookies &amp; App Analytics</h3>
                    <p>Steady Calendar collects information about you using cookies via our website or analytics via our iOS app . We use this information to help us improve the efficiency and quality of our service. For example, we use analytics which provide anonymized data about your use of the Website or iOS app for statistical purposes. This helps us to monitor and improve our product.</p>
                    <br /><br />
                    <h3>5. Security</h3>
                    <p>Steady Calendar aims to protect the security of your information as much as we aim to protect our own information and network. You should never disclose your account password to unauthorized people. We use certain security measures to help keep your personal information safe, but we cannot guarantee that these measures will stop any users try to get around the privacy or security settings on Steady Calendar through unforeseen and/or illegal activity. Consequently, you acknowledge that there are circumstances in which your personal information may be accessed by unauthorized persons.</p>
                    <p>In the event that we believe that the security of your personal information in our possession or control may have been compromised, we may seek to notify you. If a notification is appropriate, we would attempt to do so as promptly as possible under the circumstances, and, to the extent we have your e-mail address, we may notify you by e-mail. </p>
                    <br /><br />
                    <h3>6. Consent</h3>
                    <p>By disclosing any information to Steady Calendar through the mobile application or website as a registered user, you are consenting to the collection, storage and use of your personal information by Steady Calendar as set out in this Policy and the Terms of Use, and you understand and consent to the collection, maintenance, processing and transfer of such information within and outside of the United States and other countries and territories. If you do not consent to the collection, maintenance, processing and transfer of such information in and to the United States and other countries and territories, then you should not use Steady Calendar.</p>
                    <br /><br />
                    <h3>7. Changes to the Privacy Policy</h3>
                    <p>If Steady Calendar makes any changes to this Policy these changes will be detailed on this page in order to ensure that you are fully aware of what information is collected, how it is used and under what circumstances it will be disclosed, especially if there are updates to the Steady Calendar app. If you are concerned about how your information is collected, used or disclosed, you should periodically check back at this page. If you have any specific concerns not addressed in the Policy, please contact us using the feedback page on the website.</p>
                    <p>If you decide that you do not want your personal information to be used in the way described in this Policy, you can send us a notice that you wish to withdraw your consent as set out above by emailing us. Because the Steady Calendar community relies on users sharing information, withdrawing your consent will mean that you are not able to receive the full benefits of Steady Calendar as a user. Additionally, if you do not provide your consent, or if you withdraw your consent, you should not use Steady Calendar.</p>
                    
                    
                </div>
            </div>
            
        </div>
    </section>
    
    <!-- JavaScript plugins comes here -->
    <script src="assets/vendor/hype/js/jquery-2.0.3.min.js"></script>
    <script src="assets/vendor/hype/js/jquery.easing.min.js"></script>
    <script src="assets/vendor/hype/js/jquery.scrollTo.js"></script>
    <script src="assets/vendor/hype/js/jquery.form.js"></script>
    <script src="assets/vendor/hype/js/main.js"></script>
    <script src="assets/vendor/hype/js/retina.js"></script>
    <script src="assets/vendor/hype/js/waypoints.min.js"></script>
    <script src="assets/vendor/hype/js/owl.carousel.min.js"></script>
    <script src="assets/vendor/hype/js/nivo-lightbox.min.js"></script>
    <Footer client:only />
  </body>
</html>
