---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
---
<!DOCTYPE html>
<html lang="en-US">
<title>Steady Calendar</title>
  <Header />
  <body>
    <section id="about">
        <div class="container">
            
            <div class="row" id="about_intro">
                <div class="col-sm-12 col-md-12 col-lg-12" style="text-align:left;">
                    
                    <h2>Terms of Service</h2>
                    <p>This Terms of Use Agreement (this "Agreement") is a legal agreement between you and Somogyi Consulting LLC ("we", "us", or "our") providing, among other things, the terms and conditions for your use of Steady Calendar’s services (collectively, the "Steady Calendar Services"), including but not limited to delivery via our Web site [http://www.steadycalendar.com] (the "Site"), a mobile device, or otherwise.
                    <p>We may from time to time modify these terms of use and will post a copy of the amended Agreement.

<p>If you do not agree to, or cannot comply with, the Agreement as amended, you must stop using the Steady Calendar Services or, if applicable, close your Steady Calendar account. You will be deemed to have accepted the Agreement as amended if you continue to use any of the Steady Calendar Services after any amendments are posted on the Site.

<p>THIS AGREEMENT CONTAINS WARRANTY AND LIABILITY DISCLAIMERS. BY USING OR SUBSCRIBING TO THE Steady Calendar SERVICES, YOU ACCEPT AND AGREE TO THE TERMS AND CONDITIONS OF THIS AGREEMENT. IN ORDER FOR YOU TO HAVE ACCESS TO THE Steady Calendar SERVICES, THIS AGREEMENT MUST BE ACCEPTED BY YOU WITHOUT ANY MODIFICATIONS, ADDITIONS, OR DELETIONS. IF YOU DO NOT AGREE TO THE TERMS OF USE CONTAINED IN THIS AGREEMENT, YOU ARE NOT AUTHORIZED TO USE THE Steady Calendar SERVICES. YOU MAY BE DENIED ACCESS TO THE Steady Calendar SERVICES, WITH OR WITHOUT PRIOR NOTICE TO YOU, FOR NONCOMPLIANCE WITH ANY PROVISION OF THIS AGREEMENT.

<p>1. AUTHORIZED USERS

<p>1.1 Registration.

<p>To use any aspect of the Steady Calendar Services, you may be required to register and provide certain information, including your facebook login credentials or email a password and a valid email address (the "Account Information"). You agree to provide accurate Account Information and to update your Account Information as necessary to keep it accurate. Steady Calendar will use your Account Information in accordance with its Privacy Policy. By providing Steady Calendar your email address, you consent to our using the email address to send you Service-related notices, including among other things notices required by law, in lieu of postal mail. You may not opt out of Service-related e-mails. We may also use your email address, or for subscribers to mobile Services, to send you other messages, including information about Steady Calendar and special offers, including those from third parties to whom we sell advertising. For more information about how we use your data, please see Steady Calendar’s Privacy Policy.

<p>1.2 Account Confidentiality.

You agree that you will not allow others to use any aspect of your Account Information. You have responsibility for taking steps to maintain the confidentiality and security of your account. You agree to notify us immediately of any unauthorized use of your password and/or account. Steady Calendar will not be responsible for any losses arising out of the unauthorized use of your member name, password and/ or account and you agree to indemnify and hold harmless Steady Calendar, its partners, parents, subsidiaries, agents, affiliates and/or licensors, as applicable, for any improper, unauthorized or illegal uses of the same.

<p>1.3 Security.

<p>To prevent unauthorized access, to maintain data accuracy, and to ensure the appropriate use of Account Information, Steady Calendar uses appropriate physical, technical and administrative procedures to safeguard the information we collect.

<p>2. LICENSE TO Steady Calendar SERVICES
<p>2.1 License Grant.

<p>Steady Calendar grants to you a limited, non-exclusive, non-transferable license to access and use the Steady Calendar Services in legally authorized jurisdictions for personal non-commercial purposes only. Any violation by you of the license provisions contained in this Section 2.1 may result in the immediate termination of your right to use the Steady Calendar Services. Steady Calendar reserves all right, title and interest not expressly granted under this license to the fullest extent possible under applicable laws. ANY USE OF THE Steady Calendar SERVICES NOT SPECIFICALLY PERMITTED UNDER THIS AGREEMENT IS STRICTLY PROHIBITED.

<p>2.2 Updates.

<p>Steady Calendar may from time to time make available to all users of the Steady Calendar Services, updates at no cost or subject to additional fees in Steady Calendar's sole discretion. "Updates" means any updates, upgrades or error corrections to the Steady Calendar Services that Steady Calendar makes available generally to users of the Steady Calendar Services. Notwithstanding anything else contained in this Agreement, Steady Calendar will have no obligation to continue producing or releasing new versions of the Steady Calendar Services or any updates thereto, nor to maintain existing Steady Calendar Services.

<p>3. RESTRICTIONS
<p>You agree that you will not:

<p>3.1 make the Steady Calendar Services available over a network where it could be used by others;

<p>3.2 provide your password to any other person;

<p>3.3 translate, reverse engineer, decompile, disassemble, modify or create derivative works based on the Steady Calendar Services or any portion of them, except as expressly allowed under applicable law;

<p>3.4 rent, lease or sublicense any of the Steady Calendar Services; or

<p>3.5 use the Steady Calendar Services in any way that violates the terms of this Agreement.

<p>4. OWNERSHIP
<p>4.1 User Generated Content

<p>You own any content that you provide to Steady Calendar while using the Steady Calendar Services, including but not limited to your calendars, calendar settings or customizations and calendar dates. 

<p>4.2 Trademarks

<p>Steady Calendar may have registered or common law trademarks in its name, brand, logo, and other designs. Steady Calendar retains all rights, and you are not granted any right or license to those trademarks. The Steady Calendar Services may contain third-party trademarks, service marks, graphics, and logos. You are not granted any right or license with respect to the trademarks of any third party.

<p>The Steady Calendar Services The Steady Calendar Services are owned or licensed by Somogyi Consulting LLC and are protected by the copyright laws of the United States and other countries in which the Steady Calendar Services are made available. You will not sublicense, assign, or transfer the license granted to you under this Agreement. Any attempt to sublicense, assign, or transfer any of the rights, duties, or obligations in violation of the provisions of this Agreement is void.

<p>5. SECURITY
The Steady Calendar Services use technology to protect the digital information provided by Steady Calendar from unauthorized use. Your use of the Steady Calendar Services may be limited by such technology. You acknowledge that, from time to time, Steady Calendar may modify or discontinue using such technology. Security modifications made by Steady Calendar may from time to time include required updates to the Steady Calendar Services. IF YOU ATTEMPT TO VIOLATE OR CIRCUMVENT ANY SYSTEM OR NETWORK SECURITY COMPONENTS OR TECHNOLOGY, YOU MAY BE SUBJECT TO CIVIL OR CRIMINAL LIABILITY.

<p>6. PRIVACY POLICY
It is important that you read and understand the terms of Steady Calendar's Privacy Policy. Steady Calendar may cooperate with and disclose information (including your Account Information) to any authority, government official or third-party, without giving any notice to you.

<p>7. DISCLAIMERS
EXCEPT FOR ANY APPLICABLE GUARANTEES THAT CANNOT BE EXCLUDED UNDER LOCAL APPLICABLE LAWS:

<p>7.1 THE Steady Calendar SERVICES (INCLUDING ANY SOFTWARE CONTAINED THEREIN) AND ANY UPGRADES OR PLUG-INS AND ANY LICENSED CONTENT ARE LICENSED TO YOU "AS IS." ANY USE OF THE Steady Calendar SERVICES WILL BE AT YOUR OWN RISK. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, Steady Calendar DISCLAIMS ALL WARRANTIES, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. Steady Calendar MAKES NO REPRESENTATIONS OR GUARANTEES THAT THE Steady Calendar SERVICES WILL BE FREE FROM LOSS, DESTRUCTION, DAMAGE, CORRUPTION, ATTACK, VIRUSES, INTERFERENCE, HACKING, OR OTHER SECURITY INTRUSION, AND Steady Calendar DISCLAIMS ANY LIABILITY RELATING THERETO.

<p>7.2 Steady Calendar MAKES NO GUARANTEES, REPRESENTATIONS, OR WARRANTIES THAT USE OR RESULTS OF THE USE OF THE Steady Calendar SERVICES WILL BE ACCURATE, RELIABLE, CURRENT, UNINTERRUPTED OR WITHOUT ERRORS. WITHOUT PRIOR NOTICE, Steady Calendar MAY MODIFY, SUSPEND, OR DISCONTINUE THE Steady Calendar SERVICES (INCLUDING ANY CONTENT) OR YOUR USE OF THEM. WHENEVER Steady Calendar ELECTS TO MODIFY, SUSPEND, OR DISCONTINUE THE Steady Calendar SERVICES, IT WILL NOT BE LIABLE TO YOU OR ANY THIRD PARTY.

<p>7.3 YOU ACKNOWLEDGE THAT YOUR SUBMISSION OF ANY INFORMATION TO US IS AT YOUR OWN RISK. Steady Calendar DOES NOT ASSUME ANY LIABILITY TO YOU WITH REGARD TO ANY LOSS OR LIABILITY RELATING TO SUCH INFORMATION IN ANY WAY.

<p>7.4 YOU UNDERSTAND THAT YOU MAY ENCOUNTER OFFENSIVE, INDECENT OR OTHER OBJECTIONABLE CONTENT WHEN USING THE Steady Calendar SERVICES. Steady Calendar WILL HAVE NO LIABILITY TO YOU FOR ANY SUCH CONTENT.

<p>7.5 SOME OF THE CONTENT, PRODUCTS, AND SERVICES AVAILABLE THROUGH THE Steady Calendar SERVICES MAY INCLUDE MATERIALS THAT BELONG TO THIRD PARTIES. YOU ACKNOWLEDGE THAT Steady Calendar ASSUMES NO RESPONSIBILITY FOR SUCH CONTENT, PRODUCTS OR SERVICES.

<p>8. LIMITATION OF LIABILITY
EXCEPT FOR ANY APPLICABLE LIABILITIES OR REMEDIES THAT CANNOT BE EXCLUDED UNDER LOCAL APPLICABLE LAWS:

<p>8.1 IN NO EVENT WILL Steady Calendar BE LIABLE TO YOU FOR INDIRECT, GENERAL, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY OR OTHER DAMAGES (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF PROFITS, BUSINESS INTERRUPTION, CORRUPTION OF FILES, LOSS OF BUSINESS INFORMATION OR ANY OTHER PECUNIARY LOSS) EVEN IF Steady Calendar HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. NO ORAL OR WRITTEN INFORMATION OR ADVICE GIVEN BY Steady Calendar OR OTHERS WILL CREATE A WARRANTY AND NEITHER YOU NOR ANY THIRD PARTY MAY RELY ON ANY SUCH INFORMATION OR ADVICE.

<p>8.2 Steady Calendar'S ENTIRE LIABILITY AND YOUR EXCLUSIVE REMEDY UNDER THIS AGREEMENT WILL BE LIMITED TO THE GREATER OF ONE DOLLAR (US $1.00).

<p>9. INDEMNITY
<p>YOU WILL INDEMNIFY AND HOLD Steady Calendar, ITS DIRECTORS, OFFICERS, EMPLOYEES, AFFILIATES, AGENTS, CONTRACTORS, AND LICENSORS HARMLESS WITH RESPECT TO ANY SUITS OR CLAIMS ARISING OUT OF (I) YOUR BREACH OF THIS AGREEMENT, INCLUDING, BUT NOT LIMITED TO, ANY INFRINGEMENT BY YOU OF THE COPYRIGHT OR INTELLECTUAL PROPERTY RIGHTS OF ANY THIRD PARTY; OR (II) YOUR USE OF THE Steady Calendar SERVICES.

<p>10. GENERAL INFORMATION
<p>10.1 You will be responsible for providing the DSL, cable modem, cellular network, mobile phone, and any other hardware and software necessary to use the Steady Calendar Services.

<p>10.2 Steady Calendar or its business partners may present advertisements or promotional materials via the Steady Calendar Services. Your dealings with, or participation in promotions of any third-party advertisers via the Steady Calendar Services are solely between you and such third party and your participation is subject to the terms and conditions associated with that advertisement or promotion. YOU AGREE THAT Steady Calendar IS NOT RESPONSIBLE OR LIABLE FOR ANY LOSS OR DAMAGE OF ANY SORT INCURRED AS THE RESULT OF ANY SUCH DEALINGS OR AS THE RESULT OF THE PRESENCE OF SUCH THIRD PARTIES VIA THE Steady Calendar SERVICES.

<p>10.3 The Steady Calendar Services may present links to third-party Web sites or third-party services not owned or operated by us. We are not responsible for the availability of these third-party sites or services or their contents. You agree that we are not responsible or liable, directly or indirectly, for any damage or loss caused by or in connection with your use of or reliance on any content of any such third-party site or services or goods or services available through any such third-party site or service.

<p>10.4 This Agreement will be governed by the laws of the State of New York, without regard to conflicts of laws provisions thereof. Except as expressly prohibited by applicable law, the exclusive jurisdiction for any claim, action or dispute with Steady Calendar or relating in any way to your use of the Steady Calendar Services will be in the state and federal courts of the State of New York and the venue for the adjudication or disposition of any such claim, action or dispute will be in the County of New York, New York.

<p>10.5 Steady Calendar may provide notifications, whether such notifications are required by law or are for marketing or other business related purposes, to you via email, mobile text message, written or hard copy notice, or through conspicuous posting of such notice on Site, as determined by Steady Calendar in its sole discretion. Steady Calendar reserves the right to determine the form and means of providing notifications to you.

<p>10.6 Any failure on Steady Calendar’s part to exercise or enforce any right or provision of the Terms does not constitute a waiver of such right or provision. The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder.

<p>10.7 If any provision of the Terms is found to be unenforceable or invalid, that provision shall be limited or eliminated to the minimum extent necessary so that the Terms shall otherwise remain in full force and effect and enforceable.

<p>10.8 The Terms are not assignable, transferable or sublicensable by you except with Steady Calendar's prior written consent, but may be assigned or transferred by us without restriction. Any assignment attempted to be made in violation of the Terms shall be void.

<p>10.9 The section titles in the Terms are for convenience only and have no legal or contractual effect.

<p>YOU ACKNOWLEDGE THAT YOU HAVE READ THIS AGREEMENT, UNDERSTAND IT AND WILL BE BOUND BY ITS TERMS AND CONDITIONS. YOU FURTHER ACKNOWLEDGE THAT THIS AGREEMENT REPRESENTS THE COMPLETE AND EXCLUSIVE STATEMENT OF THE AGREEMENT BETWEEN US AND THAT IT SUPERSEDES ANY PROPOSAL OR PRIOR AGREEMENT ORAL OR WRITTEN, AND ANY OTHER COMMUNICATIONS BETWEEN US RELATING TO THE SUBJECT MATTER OF THIS AGREEMENT.
                    
                </div>
            </div>
            
        </div>
    </section>

    <Footer />
  </body>
</html>
